<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">

  
</head>

<body style="background: #000;">
 <div class="login">
	<h1 style="color:Violet;">Players Rating Prediction </h1>

     <!-- Action is where the data is sent. In our case, predict page.
     If action is omitted, it assumed to be the current page -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Players Age" placeholder="Players Age" required="required" /></p>
        <input type="text" name="Players Skill rateing" placeholder="Players Skill rateing" required="required" /><p>
        <input type="text" name="sPlayers Potential" placeholder="Players Potential" required="required" /><p>


        <button type="submit" class="btn btn-primary btn-block btn-large">Predict players rating</button></p>
    </form>

   <br>
   <br>
   <h4 style="color:Violet;">
   {{ prediction_text }} </h4>

 </div>


</body>
</html>
